# Configuration file

####################
# item
####################

item {
    ####################
    # feature
    ####################

    feature {
        # This allows you to disable Florbs entirely. It also means that you actively dislike fun things.
        B:Florb.Enable=true
    }

}


####################
# whitelist
####################

whitelist {
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:ardite.molten=true
    B:bacterialsludge=true
    B:biofuel=true
    B:blood=true
    B:bop.honey=true
    B:bop.liquidpoison=true
    B:bop.springwater=true
    B:bronze.molten=true
    B:chocolatemilk=true
    B:coal=true
    B:cobalt.molten=true
    B:constructionfoam=true
    B:copper.molten=true
    B:creosote=true
    B:cryotheum=true
    B:cyanite=true
    B:diesel=true
    B:electrum.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:fluxgoo=true
    B:fuel=true
    B:fuelcolumn=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:ic2coolant=true
    B:invar.molten=true
    B:iron.molten=true
    B:lava=true
    B:lead.molten=true
    B:manyullyn.molten=true
    B:meat=true
    B:milk=true
    B:mixture_aluminium=true
    B:mixture_ardite=true
    B:mixture_cobalt=true
    B:mixture_iron=true
    B:mixture_osmium=true
    B:mixturealuminium=true
    B:mixturealuminiumbrass=true
    B:mixturealuminum=true
    B:mixturealuminumbrass=true
    B:mixturealumite=true
    B:mixtureardite=true
    B:mixtureblutonium=true
    B:mixturebronze=true
    B:mixturecobalt=true
    B:mixturecopper=true
    B:mixturecyanite=true
    B:mixtureelectrum=true
    B:mixtureenderium=true
    B:mixturegold=true
    B:mixturegraphite=true
    B:mixtureinvar=true
    B:mixtureiron=true
    B:mixturelead=true
    B:mixturemanyullyn=true
    B:mixturemeteoriciron=true
    B:mixturenickel=true
    B:mixtureobsidian=true
    B:mixtureosmium=true
    B:mixturepigiron=true
    B:mixtureplatinum=true
    B:mixtureplutonium=true
    B:mixturerefinedglowstone=true
    B:mixturerefinedobsidian=true
    B:mixturesilver=true
    B:mixturesteel=true
    B:mixturetin=true
    B:mixtureunstable=true
    B:mixtureuranium=true
    B:mixtureyellorium=true
    B:mobessence=true
    B:"molten conductive redmetal"=true
    B:"molten redstone"=true
    B:molten_aluminium=true
    B:molten_ardite=true
    B:molten_cobalt=true
    B:molten_iron=true
    B:molten_osmium=true
    B:moltenaluminium=true
    B:moltenaluminiumbrass=true
    B:moltenaluminum=true
    B:moltenaluminumbrass=true
    B:moltenalumite=true
    B:moltenardite=true
    B:moltenblutonium=true
    B:moltenbronze=true
    B:moltencobalt=true
    B:moltencopper=true
    B:moltencyanite=true
    B:moltenelectrum=true
    B:moltenenderium=true
    B:moltengold=true
    B:moltengraphite=true
    B:molteninvar=true
    B:molteniron=true
    B:moltenlead=true
    B:moltenmanyullyn=true
    B:moltenmeteoriciron=true
    B:moltennickel=true
    B:moltenobsidian=true
    B:moltenosmium=true
    B:moltenpigiron=true
    B:moltenplatinum=true
    B:moltenplutonium=true
    B:moltenrefinedglowstone=true
    B:moltenrefinedobsidian=true
    B:moltensilver=true
    B:moltensteel=true
    B:moltentin=true
    B:moltenunstable=true
    B:moltenuranium=true
    B:moltenyellorium=true
    B:mushroomsoup=true
    B:myst.ink.black=true
    B:nickel.molten=true
    B:obsidian.molten=true
    B:oil=true
    B:pinkslime=true
    B:plasma=true
    B:platinum.molten=true
    B:pyrotheum=true
    B:redstone=true
    B:refinedfuel=true
    B:sewage=true
    B:silver.molten=true
    B:slime.blue=true
    B:sludge=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:tin.molten=true
    B:toxicwaste=true
    B:uumatter=true
    B:water=true
    B:yellorium=true
}


