# Configuration file

####################
# block
####################

block {
    I:BorderedQuartz=652
    I:DimensionalBridgeStabilizer=651
    I:EmptyDBS=654
    I:EnderInfusedMetal=653
    I:Frame=649
    I:Portal=650
}


####################
# item
####################

item {
    I:BlankPortalModule=31725
    I:BlankUpgrade=31724
    I:Glasses=31729
    I:LocationCard=31728
    I:Manual=31723
    I:Nanobrush=31730
    I:PortalModule=31727
    I:Upgrade=31726
    I:Wrench=31731
}


####################
# misc
####################

misc {
    B:ForceShowFrameOverlays=false
}


####################
# overrides
####################

overrides {
    B:DisableParticles=false
    B:DisableSounds=false
}


####################
# portal
####################

portal {
    I:ActivePortalsPerRow=2
    B:FasterPortalCooldown=false
    B:PortalsDestroyBlocks=true
}


####################
# power
####################

power {
    D:DBSPowerStorageMultiplier=1.0
    D:PowerMultiplier=1.0
    B:RequirePower=true
}


